version: "3.8"
services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
  server:
    build: .
    entrypoint: uvicorn example.app:init_app --port 8080 --host 0.0.0.0 --factory --workers 3
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@postgres:5432/postgres
    ports:
      - 8080:8080
    depends_on:
      - postgres
